In [62]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [63]:
#import the data set
zoo_data=pd.read_csv('zoo.csv')

In [64]:
#display the data set
zoo_data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [65]:
#shape of dataframe
zoo_data.shape

(100, 18)

In [66]:
#get the independent features
x=zoo_data.iloc[:,1:17]

In [67]:
x

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1
96,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0
97,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
98,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0
99,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0

In [68]:
#get the dependent features
y=zoo_data.iloc[:,17]

In [69]:
y

0     1
1     1
2     4
3     1
4     1
     ..
95    1
96    6
97    1
98    7
99    2
Name: class_type, Length: 100, dtype: int64

In [70]:
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.25)

In [71]:
X_train.shape

(75, 16)

In [72]:
X_test.shape

(25, 16)

In [73]:
#setup the model
zoo_classifier = DecisionTreeClassifier(random_state=0)

In [78]:
#training the model
zoo_classifier.fit(X_train,y_train)

DecisionTreeClassifier(random_state=0)

In [83]:
#evaluation of the model
#on testing data
zoo_classifier.score(X_test,y_test)

0.92

In [84]:
#evaluation of the model
#on training data
zoo_classifier.score(X_train,y_train)

1.0

In [85]:
zoo_classifier.predict(X_test[10:15])

array([1, 6, 1, 4, 1], dtype=int64)

In [86]:
y_test[10:15]

0     1
24    6
67    1
37    4
73    1
Name: class_type, dtype: int64