In [19]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression

In [20]:
df=pd.read_csv('Startups.csv')

In [21]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54  California  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42  California  166187.94

In [22]:
x=df[['R&D Spend','Marketing Spend']]

In [26]:
x

    R&D Spend  Marketing Spend
0   165349.20        471784.10
1   162597.70        443898.53
2   153441.51        407934.54
3   144372.41        383199.62
4   142107.34        366168.42
5   131876.90        362861.36
6   134615.46        127716.82
7   130298.13        323876.68
8   120542.52        311613.29
9   123334.88        304981.62
10  101913.08        229160.95
11  100671.96        249744.55
12   93863.75        249839.44
13   91992.39        252664.93
14  119943.24        256512.92
15  114523.61        261776.23
16   78013.11        264346.06
17   94657.16        282574.31
18   91749.16        294919.57
19   86419.70             0.00
20   76253.86        298664.47
21   78389.47        299737.29
22   73994.56        303319.26
23   67532.53        304768.73
24   77044.01        140574.81
25   64664.71        137962.62
26   75328.87        134050.07
27   72107.60        353183.81
28   66051.52        118148.20
29   65605.48        107138.38
30   61994.48         91131.24
31   61136.38         88218.23
32   63408.86         46085.25
33   55493.95        214634.81
34   46426.07        210797.67
35   46014.02        205517.64
36   28663.76        201126.82
37   44069.95        197029.42
38   20229.59        185265.10
39   38558.51        174999.30
40   28754.33        172795.67
41   27892.92        164470.71
42   23640.93        148001.11
43   15505.73         35534.17
44   22177.74         28334.72
45    1000.23          1903.93
46    1315.46        297114.46
47       0.00             0.00
48     542.05             0.00
49       0.00         45173.06

In [34]:
y=df.iloc[:,4:5].values

In [35]:
y

array([[192261.83],
       [191792.06],
       [191050.39],
       [182901.99],
       [166187.94],
       [156991.12],
       [156122.51],
       [155752.6 ],
       [152211.77],
       [149759.96],
       [146121.95],
       [144259.4 ],
       [141585.52],
       [134307.35],
       [132602.65],
       [129917.04],
       [126992.93],
       [125370.37],
       [124266.9 ],
       [122776.86],
       [118474.03],
       [111313.02],
       [110352.25],
       [108733.99],
       [108552.04],
       [107404.34],
       [105733.54],
       [105008.31],
       [103282.38],
       [101004.64],
       [ 99937.59],
       [ 97483.56],
       [ 97427.84],
       [ 96778.92],
       [ 96712.8 ],
       [ 96479.51],
       [ 90708.19],
       [ 89949.14],
       [ 81229.06],
       [ 81005.76],
       [ 78239.91],
       [ 77798.83],
       [ 71498.49],
       [ 69758.98],
       [ 65200.33],
       [ 64926.08],
       [ 49490.75],
       [ 42559.73],
       [ 35673.41],
       [ 14681.4 ]])

In [32]:
model = LinearRegression()
model.fit(x, y)

LinearRegression()

In [36]:
x1 = sm.add_constant(x)

In [37]:
model = sm.OLS(y,x1).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.950
Model:                            OLS   Adj. R-squared:                  0.948
Method:                 Least Squares   F-statistic:                     450.8
Date:                Sat, 24 Aug 2024   Prob (F-statistic):           2.16e-31
Time:                        13:22:06   Log-Likelihood:                -525.54
No. Observations:                  50   AIC:                             1057.
Df Residuals:                      47   BIC:                             1063.
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const            4.698e+04   2689.933     17.464      0.000    4.16e+04    5.24e+04
R&D Spend           0.7966      0.041     19.266      0.000       0.713       0.880
Marketing Spend     0.0299      0.016      1.927      0.060      -0.001       0.061
==============================================================================
Omnibus:                       14.677   Durbin-Watson:                   1.257
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               21.161
Skew:                          -0.939   Prob(JB):                     2.54e-05
Kurtosis:                       5.575   Cond. No.                     5.32e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.32e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""